In [2]:
import pandas as pd
import numpy as np

#lendo a base de dados
df_vendas = pd.read_excel(r"Bases de Dados/Vendas.xlsx")
display(df_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,1,Sapato Estampa,1,358,358
1,1,2019-01-01,1,Camiseta,2,180,360
2,1,2019-01-01,1,Sapato Xadrez,1,368,368
3,2,2019-01-02,3,Relógio,3,200,600
4,2,2019-01-02,3,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,17,Short Listrado,2,102,204
100995,69996,2019-12-26,17,Mochila,4,270,1080
100996,69996,2019-12-26,17,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,11,Camisa Listrado,1,108,108
100998,69997,2019-12-26,11,Short Linho,2,133,266

In [3]:
#verificando a base de dados
df_vendas.info()

<class 'pandas.DataFrame'>
RangeIndex: 100999 entries, 0 to 100998
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Código Venda    100999 non-null  int64
 1   Data            100999 non-null  datetime64[us]
 2   ID Loja         100999 non-null  int64
 3   Produto         100999 non-null  str
 4   Quantidade      100999 non-null  int64
 5   Valor Unitário  100999 non-null  int64
 6   Valor Final     100999 non-null  int64
dtypes: datetime64[us](1), int64(5), str(1)
memory usage: 5.4 MB

In [4]:
#separando o faturamento por loja diario/anaul
faturamento_dia = (
    df_vendas.groupby(["ID Loja", "Data"], as_index=False)["Valor Final"]
    .sum()
    .rename(columns={"Valor Final":"Faturamento Diario"})
    )

df_vendas["Ano"] = df_vendas["Data"].dt.year

faturamento_ano = (
    df_vendas.groupby(["ID Loja", "Ano"], as_index=False)["Valor Final"]
    .sum()
    .rename(columns={"Valor Final":"Faturamento Anual"})
    )

display(faturamento_dia)
display(faturamento_ano.head())

      ID Loja       Data  Faturamento Diario
0           1 2019-01-01                1086
1           1 2019-01-02                8015
2           1 2019-01-03                5735
3           1 2019-01-04                9129
4           1 2019-01-05                5213
...       ...        ...                 ...
8938       25 2019-12-21                3737
8939       25 2019-12-22                9027
8940       25 2019-12-23                4355
8941       25 2019-12-24                1960
8942       25 2019-12-25                4134

[8943 rows x 3 columns]

   ID Loja   Ano  Faturamento Anual
0        1  2019            1699681
1        2  2019            1590441
2        3  2019            1711968
3        4  2019            1674824
4        5  2019            1663770

In [5]:
#separando a variedade de itens vendidos por loja diaria/anual
variedade_itens_dia = (
    df_vendas.groupby(["ID Loja", "Data"], as_index=False)["Produto"]
    .nunique()
    .rename(columns={"Produto":"Variedade Diaria"})
)

variedade_itens_ano = (
    df_vendas.groupby(["ID Loja", "Ano"], as_index=False)["Produto"]
    .nunique()
    .rename(columns={"Produto":"Variedade Anual"})
)

display(variedade_itens_dia)
display(variedade_itens_ano.head())

      ID Loja       Data  Variedade Diaria
0           1 2019-01-01                 3
1           1 2019-01-02                14
2           1 2019-01-03                12
3           1 2019-01-04                18
4           1 2019-01-05                 6
...       ...        ...               ...
8938       25 2019-12-21                 9
8939       25 2019-12-22                19
8940       25 2019-12-23                 6
8941       25 2019-12-24                 6
8942       25 2019-12-25                13

[8943 rows x 3 columns]

   ID Loja   Ano  Variedade Anual
0        1  2019              120
1        2  2019              120
2        3  2019              120
3        4  2019              120
4        5  2019              120

In [6]:
#separando o ticket-medio de cada loja dia/ano
ticket_medio_dia = (
    df_vendas.groupby(["ID Loja", "Data"], as_index=False)[["Quantidade", "Valor Final"]]
    .sum()
    .assign(
        Ticket_Medio_Dia=lambda x: (
            x["Valor Final"] / x["Quantidade"].replace(0, pd.NA)
        ).round(2)
    )
    .drop(columns=["Valor Final", "Quantidade"])
    .rename(columns=lambda x: x.replace("_", " "))
)   

ticket_medio_ano = (    
    df_vendas.groupby(["ID Loja", "Ano"], as_index=False)[["Quantidade", "Valor Final"]]
    .sum()
    .assign(
        Ticket_Medio_Ano=lambda x: (
            x["Valor Final"] / x["Quantidade"].replace(0, pd.NA)
        ).round(2)
    )
    .drop(columns=["Valor Final", "Quantidade"])
    .rename(columns=lambda x: x.replace("_", " "))
)

display(ticket_medio_dia)
display(ticket_medio_ano.head())

      ID Loja       Data  Ticket Medio Dia
0           1 2019-01-01            271.50
1           1 2019-01-02            242.88
2           1 2019-01-03            204.82
3           1 2019-01-04            202.87
4           1 2019-01-05            372.36
...       ...        ...               ...
8938       25 2019-12-21            155.71
8939       25 2019-12-22            265.50
8940       25 2019-12-23            290.33
8941       25 2019-12-24            163.33
8942       25 2019-12-25            159.00

[8943 rows x 3 columns]

   ID Loja   Ano  Ticket Medio Ano
0        1  2019            198.10
1        2  2019            193.81
2        3  2019            189.92
3        4  2019            194.09
4        5  2019            190.58

In [7]:
#verificando se as metas foram batidas
fat_meta_dia = 1000
fat_meta_ano = 1650000
var_meta_dia = 4
var_meta_ano = 120
ticket_meta = 500 

def verificar_meta(df, valor, meta):
    df = df.copy()
    df["Bateu Meta"] = np.where(df[valor] >= meta, "Sim", "Não")
    return df

lista_dfs = [
    (faturamento_dia, "Faturamento Diario", fat_meta_dia),
    (faturamento_ano, "Faturamento Anual", fat_meta_ano),
    (variedade_itens_dia, "Variedade Diaria", var_meta_dia),
    (variedade_itens_ano, "Variedade Anual", var_meta_ano),
    (ticket_medio_dia, "Ticket Medio Dia", ticket_meta),
    (ticket_medio_ano, "Ticket Medio Ano", ticket_meta)
]

dfs_novos = [
    verificar_meta(df, valor, meta)
    for df, valor, meta in lista_dfs
]

(
    faturamento_dia,
    faturamento_ano,
    variedade_itens_dia,
    variedade_itens_ano,
    ticket_medio_dia,
    ticket_medio_ano
) = dfs_novos

display(faturamento_dia)

      ID Loja       Data  Faturamento Diario Bateu Meta
0           1 2019-01-01                1086        Sim
1           1 2019-01-02                8015        Sim
2           1 2019-01-03                5735        Sim
3           1 2019-01-04                9129        Sim
4           1 2019-01-05                5213        Sim
...       ...        ...                 ...        ...
8938       25 2019-12-21                3737        Sim
8939       25 2019-12-22                9027        Sim
8940       25 2019-12-23                4355        Sim
8941       25 2019-12-24                1960        Sim
8942       25 2019-12-25                4134        Sim

[8943 rows x 4 columns]

In [8]:
#criar as onepages
df_emails = pd.read_csv(r"Bases de Dados/Emails.csv")
df_lojas = pd.read_csv(r"Bases de Dados/Lojas.csv", sep=";")

df_emails_lojas = df_emails.merge(
    df_lojas,
    on="Loja",
    how="left"
)

df_emails_lojas["ID Loja"] = df_emails_lojas["ID Loja"].astype("Int64")


#filtrando os dfs pelo dia e ano

total_lojas = df_vendas["ID Loja"].nunique()

data_mais_recente = (
    df_vendas
    .groupby("Data")["ID Loja"]
    .nunique()
    .loc[lambda x: x == total_lojas]
    .index
    .max()
)

ano_atual = data_mais_recente.year

def filtrar_data_dfs(df, coluna, data):
    return df[df[coluna] == data]

lista_dfs_dia = (
    faturamento_dia,
    variedade_itens_dia,
    ticket_medio_dia,
)

dfs_filtrados_dia = [
    filtrar_data_dfs(df, "Data", data_mais_recente).set_index("ID Loja")
    for df in lista_dfs_dia
]

(
    faturamento_dia_fil,
    variedade_dia_fil,
    ticket_dia_fil,
) = dfs_filtrados_dia


lista_dfs_ano = (
    faturamento_ano,
    variedade_itens_ano,
    ticket_medio_ano
)

dfs_filtrados_ano = [
    filtrar_data_dfs(df, "Ano", ano_atual).set_index("ID Loja")
    for df in lista_dfs_ano
]

(
    faturamento_ano_fil,
    variedade_ano_fil,
    ticket_ano_fil,
) = dfs_filtrados_ano

In [21]:

def gerar_ranking(df, coluna):
    df = df.copy()

    df = df.sort_values(by=coluna, ascending=False)

    mapa_lojas = df_lojas.set_index("ID Loja")["Loja"]

    df["Loja"] = df.index.map(mapa_lojas)

    df["Ranking"] = range(1, len(df) + 1)

    df = df[["Ranking", "Loja", coluna]]

    return df


metricas = {
    "Faturamento Diario": faturamento_dia_fil,
    "Variedade Diaria": variedade_dia_fil,
    "Ticket Medio Dia": ticket_dia_fil,
    "Faturamento Anual": faturamento_ano_fil,
    "Variedade Anual": variedade_ano_fil,
    "Ticket Medio Ano": ticket_ano_fil
}

relatorios = {}

for coluna, df in metricas.items():
    relatorios[coluna] = gerar_ranking(df, coluna)

display(relatorios["Faturamento Diario"])

         Ranking                              Loja  Faturamento Diario
ID Loja
1              1                Iguatemi Esplanada                8521
20             2                Shopping SP Market                8171
21             3                 Shopping Eldorado                7698
13             4         Parque Dom Pedro Shopping                7655
24             5                 Iguatemi Campinas                6757
7              6                    Rio Mar Recife                6380
15             7       Palladium Shopping Curitiba                5719
10             8  Shopping Center Leste Aricanduva                5618
3              9                    Norte Shopping                5306
18            10                   Shopping Recife                4994
16            11         Passei das Águas Shopping                4899
5             12          Shopping União de Osasco                4704
14            13               Bourbon Shopping SP                4136
25            14                    Shopping Barra                4134
4             15       Shopping Iguatemi Fortaleza                4082
2             16              Shopping Midway Mall                3983
8             17                 Salvador Shopping                3242
11            18                 Ribeirão Shopping                3190
6             19        Shopping Center Interlagos                3180
17            20        Center Shopping Uberlândia                2879
23            21      Novo Shopping Ribeirão Preto                2510
9             22        Rio Mar Shopping Fortaleza                2195
22            23               Shopping Ibirapuera                1830
12            24                  Shopping Morumbi                1562
19            25               Shopping Vila Velha                 916

In [ ]:
def loc_onepage(df, id_loja, coluna):
    if id_loja in df.index:
        return df.at[id_loja, coluna]

    
for id_loja in df_emails_lojas["ID Loja"].dropna().unique():
    onepage_dia = pd.DataFrame({
        "Indicador": [
            "Faturamento",
            "Variedade",
            "Ticket Medio"
        ],
        "Valor Dia": [
            loc_onepage(
                faturamento_dia_fil,
                id_loja,
                "Faturamento Diario",
            ),
            loc_onepage(
                variedade_dia_fil,
                id_loja,
                "Variedade Diaria",
            ),
            loc_onepage(
                ticket_dia_fil,
                id_loja,
                "Ticket Medio Dia",
            )
        ],
        "Meta Dia": [
            fat_meta_dia,
            var_meta_dia,
            ticket_meta
        ],
        "Cenário Dia": [
            loc_onepage(
                faturamento_dia_fil,
                id_loja,
                "Bateu Meta",
            ),
            loc_onepage(
                variedade_dia_fil,
                id_loja,
                "Bateu Meta",
            ),
            loc_onepage(
                ticket_dia_fil,
                id_loja,
                "Bateu Meta",
            )
        ]       
    }).set_index("Indicador")

    onepage_ano = pd.DataFrame({
        "Indicador": [
            "Faturamento",
            "Variedade",
            "Ticket Medio"
        ],
        "Valor Ano": [
            loc_onepage(
                faturamento_ano_fil,
                id_loja,
                "Faturamento Anual",
            ),
            loc_onepage(
                variedade_ano_fil,
                id_loja,
                "Variedade Anual",
            ),
            loc_onepage(
                ticket_ano_fil,
                id_loja,
                "Ticket Medio Ano",
            )
        ],
        "Meta Ano": [
            fat_meta_ano,
            var_meta_ano,
            ticket_meta
        ],
        "Cenário Ano": [
            loc_onepage(
                faturamento_ano_fil,
                id_loja,
                "Bateu Meta",
            ),
            loc_onepage(
                variedade_ano_fil,
                id_loja,
                "Bateu Meta",
            ),
            loc_onepage(
                ticket_ano_fil,
                id_loja,
                "Bateu Meta",
            )
        ]       
    }).set_index("Indicador") 
    display(onepage_dia) 
    display(onepage_ano)

In [ ]:
display(faturamento_ano_fil)

          Ano  Faturamento Anual Bateu Meta
ID Loja
1        2019            1699681        Sim
2        2019            1590441        Não
3        2019            1711968        Sim
4        2019            1674824        Sim
5        2019            1663770        Sim
6        2019            1640486        Não
7        2019            1722766        Sim
8        2019            1646739        Não
9        2019            1698430        Sim
10       2019            1682870        Sim
11       2019            1707122        Sim
12       2019            1586444        Não
13       2019            1631630        Não
14       2019            1726110        Sim
15       2019            1721120        Sim
16       2019            1649014        Não
17       2019            1668921        Sim
18       2019            1624879        Não
19       2019            1731167        Sim
20       2019            1721763        Sim
21       2019            1648111        Não
22       2019            1635060        Não
23       2019            1678225        Sim
24       2019            1762419        Sim
25       2019            1653103        Sim