In [30]:
import pandas as pd

#lendo a base de dados
df_vendas = pd.read_excel(r"Bases de Dados/Vendas.xlsx")
display(df_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,1,Sapato Estampa,1,358,358
1,1,2019-01-01,1,Camiseta,2,180,360
2,1,2019-01-01,1,Sapato Xadrez,1,368,368
3,2,2019-01-02,3,Relógio,3,200,600
4,2,2019-01-02,3,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,17,Short Listrado,2,102,204
100995,69996,2019-12-26,17,Mochila,4,270,1080
100996,69996,2019-12-26,17,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,11,Camisa Listrado,1,108,108
100998,69997,2019-12-26,11,Short Linho,2,133,266

In [24]:
#verificando a base de dados
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100999 entries, 0 to 100998
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Código Venda    100999 non-null  int64
 1   Data            100999 non-null  datetime64[ns]
 2   ID Loja         100999 non-null  int64
 3   Produto         100999 non-null  object
 4   Quantidade      100999 non-null  int64
 5   Valor Unitário  100999 non-null  int64
 6   Valor Final     100999 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 5.4+ MB

In [ ]:
#separando o faturamento por loja diario/anaul
faturamento_dia = (
    df_vendas.groupby(["ID Loja", "Data"])["Valor Final"]
    .sum()
    .reset_index()
    .rename(columns={"Valor Final":"Faturamento Diario"})
    )

df_vendas["Ano"] = df_vendas["Data"].dt.year

faturamento_ano = (
    df_vendas.groupby(["ID Loja", "Ano"])["Valor Final"]
    .sum()
    .reset_index()
    .rename(columns={"Valor Final":"Faturamento Anual"})
    )

display(faturamento_dia)
display(faturamento_ano.head())

      ID Loja       Data  Faturamento Diario
0           1 2019-01-01                1086
1           1 2019-01-02                8015
2           1 2019-01-03                5735
3           1 2019-01-04                9129
4           1 2019-01-05                5213
...       ...        ...                 ...
8938       25 2019-12-21                3737
8939       25 2019-12-22                9027
8940       25 2019-12-23                4355
8941       25 2019-12-24                1960
8942       25 2019-12-25                4134

[8943 rows x 3 columns]

   ID Loja   Ano  Faturamento Anual
0        1  2019            1699681
1        2  2019            1590441
2        3  2019            1711968
3        4  2019            1674824
4        5  2019            1663770

In [43]:
#separando a variedade de itens vendidos por loja diaria/anual
variedade_itens_dia = (
    df_vendas.groupby(["ID Loja", "Data"])["Produto"]
    .nunique()
    .reset_index()
    .rename(columns={"Produto":"Variedade Diaria"})
)

variedade_itens_ano = (
    df_vendas.groupby(["ID Loja", "Ano"])["Produto"]
    .nunique()
    .reset_index()
    .rename(columns={"Produto":"Variedade Anual"})
)

display(variedade_itens_dia)
display(variedade_itens_ano.head())

      ID Loja       Data  Variedade Diaria
0           1 2019-01-01                 3
1           1 2019-01-02                14
2           1 2019-01-03                12
3           1 2019-01-04                18
4           1 2019-01-05                 6
...       ...        ...               ...
8938       25 2019-12-21                 9
8939       25 2019-12-22                19
8940       25 2019-12-23                 6
8941       25 2019-12-24                 6
8942       25 2019-12-25                13

[8943 rows x 3 columns]

   ID Loja   Ano  Variedade Anual
0        1  2019              120
1        2  2019              120
2        3  2019              120
3        4  2019              120
4        5  2019              120

In [ ]:
#separando o ticket-medio de cada loja dia/ano